@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<div class="list-group">
    <a asp-controller="Product" asp-action="Detail" asp-route-slugLink="Product-5">View Product 5</a>

    <a asp-controller="Product" asp-action="List">View Products</a>

    <a asp-controller="Home" asp-action="About">About us</a>
</div>